* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.calculatrice {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 5px black;
}

.ecran {
    width: 100%;
    height: 100px;
    background-color: #330867;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    font-size: 25px;
}

.touches {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 7px;
}

button {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0 3px #a8a8a8;
    font-size: 18px;
}

button:active {
    box-shadow: 0 1px #a8a8a8;
    transform: translateY(2px);
}

button[data-key = "67"] {
    background-color: #ff9900;
    font-weight: bold;
    color: white;
}
button[data-key = "187"] {
    background-color: #ff9900;
    font-weight: bold;
    color: white;
    grid-column: span 2;
    font-size: 25px;
}
