*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 30px;
    background-color: #001438;
}
/*header*/
header h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 70px;
    color: #ffffff;
}
/* barre de navigation */
div#centre aside{
    position: fixed;
    width: 12%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px 0 0 10px;
}
nav h3{
    text-transform: uppercase;
    font-size: 25px;
}
nav ul{
    list-style: none;
}
nav ul li{
    padding: 20px 0;
}
nav ul li a{
    text-decoration: none;
    color: #0044ff;
}

/* zone centrale */
div#centre main{
    position: relative;
    left: 12%;
    max-width: calc(100vw - 20%);
}
span{
    display: block;
    border-bottom: 2px solid #001438;
    width: 50%;
    height: 1px;
    margin: 50px auto;
}
section{
    background-color: #ffffff;
    padding: 10px 30px;
   
}
h2{
    font-size: 50px;
    text-align: center;
    padding-bottom: 80px;
}
p{
    padding:5px 15%;
}
section#accueil img{
    width: 100%;
}
section#accueil h2{
    padding: 30px 0;
}
/* section prestation */
section#prestation div {
    float: left;
    width: 33%;
    text-align: center;
  }
section#prestation span{
    clear: both;
    padding: 90px;
}

section#prestation div img{
    width: 30%;
}

section#prestation div h3{
    font-size: 25px;
    margin: 20px 0 10px 0;
}


/* section galerie */
section#galerie img{
    width: 49%;
    display: inline;
}
/* section contact */

section#contact form {
    width: 50%;
    margin: 30px auto;
}
section#contact form label,
section#contact form input{
    display: block;
    width: 100%;
}

section#contact form input {
    margin-bottom: 10px;
}
section#contact form button{
    display: block;
    margin: 20px auto;
    padding: 5px 20px;
    font-size: inherit;
    cursor: pointer;
}
section#contact form p{
    padding: 0
}

/* footer */
footer{
    color: #ffffff;
    text-align: center;
    padding: 20px;
}
